/* *{
    padding:0;
    margin:0;
} */

body{
    font-family: 'Work Sans', sans-serif;
}

/* Nav CSS */
header{
    width:1380px;
    margin:0 auto;
}
nav{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05); 
    height: 100px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    display:flex;
    align-items: center;
    gap:15px;
}

.logo img{
    width: 90px;
    height: 40px;   
}

.logo h2{
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;
}
.pink{
    color:#ff42a5;
}
.menu{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
   
}

.menu > ul{
    display:flex;
}

.menu li{
    list-style: none;
}

.menu li a{
    text-decoration: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    font-size: 20px;
    margin-right: 30px;
}
/* .first{
    margin-right:20px;
} */
.second{
    border:1px solid rgba(11, 2, 35, 0.10);
    border-radius: 8px;
    width: 260px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    font-size: 18px;
    background-color: rgba(11, 2, 35, 0.10);

}

.second .youtube i{
    color: red;
}

.second .tiktok i{
    color:black;
}


/* Banner Section CSS */

.banner{
    width:1380px;
    margin:0 auto;
    display:flex;
    justify-content: space-around;
    align-items: center;

}
.banner-left {
    padding-left: 144px;
}
.banner-left h2{
    color: #0B0223;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-left h1{
    font-size: 80px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-left li {
    list-style: none;
}

.banner-left li a{
    text-decoration: none;
    color: #534C64;
    font-size: 16px;
    font-weight: 500;
    text-transform: lowercase;
    
}

.banner-left li i{
    padding-right:10px;
}

.b-1 i{
   color: #FF42A5
}
.b-2 i{
    color:#0B0223;
}
button{
    gap:20px;
}
.btn-primary{
    padding:20px 36px;
    border-radius: 48px;
    background:#FF42A5;
    border:0;
    color:#fff;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
   
    margin-top:30px;
}

.btn-primary:hover{
    background-color: #4EC5F7;
    color:#FF42A5;
    cursor: pointer;
}

.option{
    background-color: #4EC5F7;
}

.option:hover{
    background-color: #FF42A5;
    color:#4EC5F7;
    cursor: pointer;
}

.banner-right{
   
}
.banner-right img {
    width: 60%;
    padding-left: 275px;
}


/* Optional CSS */
.optional{
    width:1380px;
    margin:50px auto;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.optional-left{
    padding-left:50px;
}
.optional-left img{
    width:100%;
}

.optional-right{
    width:590px;
    padding-right:150px;
    text-align: right;
}

.optional-right h2{
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.optional-right p{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.optional-right h6{
    color: #534c64;
    font-size: 20px;
    font-weight: 400;
}
.optional-right h4{
    padding-top:10px;
    color: #534c64;
    font-size: 24px;
    font-weight: 700;
    margin-top: -40px;
}

/* Games CSS */

.games{
    width:1380px;
    margin:70px auto;
}
.games-heading{
    text-align: center;
    margin-bottom: 90px;
}

.games-heading h2{
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
}

.color{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.games-heading p{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    margin-top:-20px;
}

.card{
    width:1280px;
    display:flex;
    justify-content: space-around;
    margin:50px auto;
   
}

.card-info{
    width:350px;
    height: 400px;
    
}
.card-img{
    position: relative;
}
.card-img img {
    width: 90%;
    height: auto;
}

.play-icon ul{
    text-align: center;
}

.play-icon ul li{
    display:block;

}

.play-icon ul li a{
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
  
   
}

.play-icon {
    position: absolute;
    top: 143px;
    left: 0px;
    /* visibility: hidden; */
    transition: .5s ease-in-out;

}

.card-text p{
    color: #534C64;
    font-size: 18px;
    font-weight: 500;
   
}
.white a{
    color:#fff;
}
.pink a{
    color:#FF42A5;

}


.card-info:hover .play-icon {
    visibility: visible;
    background-color: rgba(0, 0, 0, .6);
    height: 98%;
    width: 90%;
    
    left: 0px;
    top: 0px;
    margin: 0px auto;
    border-radius: 13px;
    display:flex;
    justify-content:center ;
    align-items: center;
   
}

/* Careers CSS */

.careers{
    width:1380px;
    height: 750px;
    margin:0 auto;
    display:flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}

.careers-heading{
    width:700px;
    margin-left:40px;
}

.careers-heading h2{
    color: #FFF;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}
.careers-heading p{
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;

}

.careers-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}

.c-right{
    text-align: right;
}

.c-left{
    margin-left:-42px;
}
.careers-container li {
    display:block;
    list-style: none;
}

.careers-container li a{
    text-decoration: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
}

.c-btn{
    background-color: #fff;
    color:#FF42A5;
}
.careers-img{
    width:600px;
    height: 750px;
}
.careers-img img{
    width:100%;
    height: 100%;
}

/* Install CSS */

.install{
    width:1380px;
    margin:200px auto;
}

.install-container{
    /* width:1280px; */
    display:flex;
    justify-content: space-around;
    align-items: center;
    gap:120px;
}

.install-left{
    width:800px;
    
}

.install-text{
    width:400px;
    margin: 0 auto;
    text-align: right;

}

.install-text h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    color: #0B0223;
}

.install-text p{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.install-right {
    padding-right: 101px;
    position: relative;
    margin-bottom: 100px;
}


/* Install 2 CSS */

.install-container.two{
    display:flex;
}
.install-right .big{
    width:85%;
    
    
}

.install-right .small {
    width: 45%;
    position: absolute;
    top: 293px;
    left: -134px;
}

.install-right img{
    padding-left:78px;
}

.install-right .fall {
    width: 45%;
    position: absolute;
    top: 303px;
    right: -48px;
}

.install-text.i-r {
    width:441px;
    margin: 0 auto;
    text-align: left;
}

.install-text.i-r p{
    font-size: 17px;
}

/* Multi CSS */

.multi{
    width:1380px;
    margin:70px auto;
}

.multi-container{
    width:1220px;
    margin:0 auto;
    display:grid;
    grid-template-columns: repeat(5, 1fr);
}

.multi-info{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom:40px;

}

.multi-info a {
    text-decoration: none;
    margin-right: 7px;
    color: #0B0223;
    font-size: 15px;
    font-weight: 600;
}

.multi-info:hover{
    border:1px solid #FF42A5;
    border-radius: 30px;
}



/* Footer CSS */

footer{
    width:1380px;
   
    margin:0 auto;
    background: #0B0223;
    color:#fff;
}

.footer-container{
    height: 600px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.f-w{
    color:#fff;
}

.support > ul{
    display:grid;
    grid-template-columns: repeat(6, 1fr);
}

.support li{
    list-style: none;
}
.support li a{
    text-decoration: none;
    padding-right:40px;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
}


.social-link > ul{
    display:grid;
    grid-template-columns: repeat(6, 1fr);
}

.social-link li{
    list-style: none;
}
.social-link li a {
    text-decoration: none;
    padding-right:40px;
    color: #FFF;
    font-size: 22px;
    font-weight: 600;
}

.social-link li .twitter:hover{
    color: blue;
}

.social-link li .youtube:hover{
    color: red;
}

.social-link li .linkedin:hover{
    color:navy;
}

.social-link li .apple:hover{
    color:black;
}
.policy > ul{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
}

.policy li{
    list-style: none;
}
.policy li a {
    text-decoration: none;
    padding-right:40px;
    color: rgba(255, 255, 255, 0.60);
    font-size: 17px;
    font-weight: 500;
}


.copy{
    color: rgba(255, 255, 255, 0.60);
    font-size: 15px;
    font-weight: 500;
}





@media screen and (max-width:576px) {

    header, .banner, .optional, .games, .install, .careers, .multi, footer{
        width:700px;
        margin-left:70px;
    }
    nav, .menu, .first, .banner,.optional,.card, .careers, .install-container{
        flex-direction: column;

    }

    nav{
        height: 340px;
    }

    .first li{
        padding:10px;
    }
    .banner{
        padding:20px;
    }
    .banner-left{
        padding-right:172px;
    }
    .banner-right img {
        width: 70%;
        padding-left: 94px;
    }
    .optional-left{
        padding-left: 105px;
    }
    .optional-left img{
        width:80%;
    }
    .optional-right {
        text-align: center;
        padding-left: 120px;
    }
    .card{
        padding-left: 46px;
    }
    .card-info {
        width: 700px;
        height: 793px;
        margin: 0 auto;
        padding-right: 636px;
    }

    .card-text {
        text-align: center;
        padding-right: 62px;
    }
    .games {
        padding-left: 23px;
    }

    .careers{
        height: 1270px;
    }
    .careers-heading{
        padding-top:170px;
    }

    .install-left {
        padding-left: 219px;
    }
    .install {
        margin: 31px auto;
        padding-bottom: 178px;
    }
    .install-right {
        padding-left: 74px;
    }

    .install-right .big {
        width: 91%;
        padding-left: 156px;
    }

    .install-right .small {
        width: 29%;
        top: 285px;
        left: 68px;
    }

    .install-right .fall {
        width: 29%;
        position: absolute;
        top: 277px;
        right: -39px;
    }
    .careers-img{
        padding-top:65px;
    }

    .install-container.two {
        flex-direction: column-reverse;
    }
    .install-left.info{
       
        padding-left:80px;
    }
    .install-text{
        text-align: center;
    }
    .install-text.i-r{
        text-align: center;
    }
    .careers-heading p {
        padding-right: 28px;
    }
    .c-right {
        padding-right: 40px;
    }

    .multi-top{
        padding-left:130px;
    }
  
    .multi-down{
        padding-left:140px;
    }

    .multi-container{
        width:700px;
        grid-template-columns: repeat(3, 1fr);
    }

    .support > ul, .social-link > ul{
        grid-template-columns: repeat(3, 1fr);
        gap:14px;
    }

    .policy > ul{
        grid-template-columns: repeat(2, 1fr);
        gap:25px;
    }

    .copy {
        width: 128px;
        text-align: center;
        font-size: 8px;
        line-height: 18px;
    }

}






@media screen and (min-width:576px) and (max-width:960px) {
    nav{
        flex-direction: column;
        margin-top:20px;
        padding:20px;
        height: 170px;
    }

    .banner{
        flex-direction: column-reverse;
        margin-top:100px;
        margin-left: -46px;
    }
    .optional{
        flex-direction: column-reverse;
        padding-left: 92px;
    }
    .optional-left img{
        width:90%;
    }

    .optional-right{
        text-align: center;
    }

    .card {
        padding-left: 110px;
    }

    .careers-heading {
        padding-left: 102px;
    }

    .install-right img {
        padding-left: 145px;
    }
}